.root {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    padding-top: 40px;
    min-height: calc(100vh - 160px);
    padding-bottom: 30px;
    width: 100vw;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
}

.header {
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.filters {
    background-color: #f0f0f0;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    .filterOptions {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        .filterOption {
            label {
                font-weight: bold;
                color: #242424;
            }

            select {
                color: #808080 ;
                width: 100%;
                padding: 8px;
                font-size: 16px;
                border-radius: 5px;
                border: 1px solid #cfcfcf;
                &:focus{
                    outline: 1px solid #a8a8a8;  
                }
                &:hover{
                    border: 1px solid #a8a8a8,
                }
            }
            input {
                @extend select;
                padding: 9px;
            }
            .skillSelect {
                color: #000;
                min-width: 250px;
                &:focus{
                    border: 1px solid #a8a8a8;  
                }
            }
        }
    }
}

.searchResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, calc(50% - 15px)));
    grid-gap: 30px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.resultItem {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределение контента по высоте */
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    .resultContent {
        margin-bottom: 15px;

        h3 {
            font-size: 18px;
            font-weight: bold;
            color: #333;
            margin-bottom: 5px;
        }

        p {
            font-size: 16px;
            color: #666;
            margin-bottom: 4px;
        }
    }

    .profileButton {
        padding: 10px 20px;
        margin-top: auto;
        text-align: center;
        font-size: 16px;
        background: linear-gradient(135deg, #f5a51b, #ffcd33); // Градиент для кнопки
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background: linear-gradient(135deg, #f2a026, #e8b200); // Более темный градиент при наведении
        }
    }
}

.noResult{
   font-size: 1.1rem;
}
