.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 2vw;
}

.logoImage {
  height: 50px; 
  margin-right: 10px;
}

.logoText {
  font-size: 1.5rem; 
  font-weight: bold;
}
