.logo{
    margin: 0 0 0 5vw;
    font-size: 2rem;
    display: flex;
    align-items: center;
    :hover{
      cursor: pointer;
    }
    img{
      height: 100%;
      margin-right: 10px;
    }
  }