.enterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    min-height: 300px;
    min-width: 300px;
    gap: 12px;
}

.input {
    border: black 1px solid;
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 435px;
    height: 45px;
    font-size: 18px;
    position: relative;
    padding-left: 10px;
    &[name=password1] {
        font-family: Verdana;
        &::placeholder{
            font-family: "Montserrat";
        }       
    }
    &[name=password2] {
        font-family: Verdana;
        &::placeholder{
            font-family: "Montserrat";
        }     
    }
}

.header {
    color: black;
    font-size: 26px;
}

.submitBtn{
    cursor: pointer;
    font-size: 24px;
    border: black 1px solid;
    height: 60px;
    border-radius: 15px;
    transition: ease-in 0.2s;
    background: radial-gradient(circle,rgba(249, 178, 26, 1),rgba(255, 157, 10, 1));
    width: 435px;
    height: 45px;
    &:hover{
        color:#FFFFFF;
    }
}

.backBtn{
    color: black;
    margin-top: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    position: absolute;
    &:hover{
        text-decoration: underline;
    }
}