.main{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #292B29;
    color: #FFFFFF;
    height: calc(100vh - 160px);
    width: 100vw;
}

.loader{
    background: #FFFFFF;
    height: calc(100vh - 160px);
}
.blocks{
    display: flex;
    justify-content: space-between;
}

.info{
    display: flex;
    position: relative;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 9px 8px 20px rgba($color: #FFFFFF, $alpha: 0.3);
    max-width: 450px;
    max-height: 300px;
    border-radius: 10px;
    margin: 0 40px;
    color: black;
    background-color: #FFFFFF;
    p{
        font-size: 1.2rem;
    }
    h2{
        font-weight: 500;
        margin-bottom: 30px;
        margin-right: 20px;
    }
}


h1{
    width: 1000px;
    font-weight: 500;
    height: 160px;
    text-align: center;
    word-spacing: 10px;
}

.enterBtn{
    width: 420px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 157, 10, 0.8);
    font-size: 28px;
    height: 60px;
    border-radius: 38px;
    transition: ease-in 0.2s;
    background: linear-gradient(135deg, #f5a51b, #ffcd33);
    &:hover{
        box-shadow: 0px 0px 20px rgba(255, 157, 10, 0.8);
        background: linear-gradient(135deg, #ffa500, #ffd700);
    }
}

@media (max-width: 768px) {
    .main {
       height: auto;
    }
    .blocks {
       flex-direction: column;
    }
    .info {
       width: 100%;
       margin: 20px 0;
    }
    h1 {
       width: 100%;
    }
    .enterBtn {
       width: 100%;
    }
   }
