.pageContainer {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vacancyDetailContainer {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 50%;
  max-width: 1000px;
  position: relative;
  margin-top: 20px;

}

.vacancyHeader {
  margin-bottom: 30px;
}

.vacancyTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.vacancyMeta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.vacancyMetaEdit div {
  margin-right: 20px;
  font-size: 16px;
}



.buttonGroup {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.applyButton {
  padding: 10px 20px;
  font-size: 14px;
  background: linear-gradient(135deg, #f5a51b, #face4a);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 10; /* Ensure buttons are above other elements */
  &:hover {
    background: linear-gradient(135deg, #ffa500, #ffd700);
  }
}

.editButton {
  @extend .applyButton;
}

.deleteButton {
  @extend .applyButton;
  background: linear-gradient(135deg, #ce322f, #ce110e);
  &:hover {
    background: linear-gradient(135deg, #e72f2f, #e71414);
  }
}

.companyInfo {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 10; /* Ensure company info is above other elements */
}

.companyInfo h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.companyInfo div {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.companyInfo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 10px;
}

.vacancyDetails {
  margin-top: 10px;
}

.vacancyDetails p {
  font-size: 16px;
  margin-bottom: 10px;
  width: 90%;
}

.vacancyDetails strong {
  font-weight: bold;
}

.sectionSeparator {
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 10px;
}

/* New styles for edit fields */
.vacancyDetailContainer input,
.vacancyDetailContainer textarea,
.vacancyDetailContainer .skillSelect {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.vacancyDetailContainer .skillSelect {
  min-height: 44px;
}

.vacancyDetailContainer textarea {
  resize: vertical;
  min-height: 100px;
  margin-top: 5px;
}

.vacancyDetailContainer h2,
.vacancyDetailContainer p {
  margin: 0 0 10px;
}

.saveButton, .changePasswordButton, .cancelButton{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton {
  background-color: #4CAF50; 
  color: white;
  &:hover {
      background-color: #45a049; 
  }
}

.cancelButton {
  background-color: #f44336;
  color: white;
  &:hover {
      background-color: #e53935;
  }
}

.benefitItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &:first-child{
    margin-top: 5px;
  }
}

.benefitItem input {
  flex: 1;
  margin-right: 10px;
}

.removeButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.removeButton:hover {
  background-color: #e53935;
}

.addButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.addButton:hover {
  background-color: #45a049;
}

.benefitsList {
  list-style-type: disc;
  padding-left: 20px;
    margin-top: 10px;
}

.benefitsList li {
  margin-bottom: 5px;
}

.skills {
  font-size: 16px;
  line-height: 1.5;

  .skill {
      display: inline-block;
      padding: 3px 10px;
      margin: 2px;
      background-color: #36332e;
      color: #fff;
      border-radius: 4px;
      font-weight: bold;
  }
}