.header {
  background: #fff;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); 
  height: 80px;
}

.headerAuth {
  background: #fff;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: start;
  gap: 150px;
  align-items: center;
  color: #000000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); 
  height: 80px;
}

.notAuth{
  margin-right: 10vw;
  font-size: 1.5rem;
  display: flex;

  :first-child {
    margin-right: 25px;
  }
}

.button1{
  transition: 0.2s ease-in-out;
  height: 78px;
  padding: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 40vw;
  &:hover{
    cursor: pointer;
    background-color: #F9B21A;
  }
}

.button2{
  transition: 0.2s ease-in-out;
  height: 78px;
  padding: 5px;
  align-items: center;
  display: flex;
  background-color: #fff;
  font-size: 1.5rem;
  &:hover{
    cursor: pointer;
    background-color: #F9B21A;
  }
}