.header {
  background: #fff;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); 
  height: 80px;
}

.headerAuth {
  @extend .header;
  justify-content: start;
}

.buttonStudent{
  transition: background-color 0.2s ease-in-out;
  height: 78px;
  padding: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  left: 25vw;
  font-size: 1.3rem;
  &:hover{
    cursor: pointer;
    background-color: #F9B21A;
  }
}

.buttonVacancy{
  @extend .buttonStudent;
  left: 35vw;
}

.button2{
  @extend .buttonStudent;
  left: 80vw;
}

.button1Auth{
  @extend .buttonStudent;
  left: 70vw;
}