.main{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #F1F1F1;
    color: #FFFFFF;
    height: calc(100vh - 160px);
}

.block{
    padding: 30px 50px 60px 50px;
    border: black 1px solid;
    border-radius: 30px;
    background-color: #FFFFFF;
}