.footer {
    display: flex;
    position: sticky;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    background: #222322;
    height: 100px;
}

.sfu {
    position: relative;
    margin: 0 0 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    a {
        width: 200px;
        cursor: pointer;
        color: #FFFFFF !important;
    }

}

.contacts {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 5vw 0 0;
    color: #FFFFFF;
    img {
        width: 30px;
        margin-left: 15px;
        cursor: pointer;
    }
}